.share {
  @include center(800px);
  text-align: center;
  border-top: 1px solid $lightGray;
  padding-top: rem(20px);
  margin-top: rem(10px);
  color: $lightGray;

  @include media(">=sm") {
    margin-top: rem(50px);
  }

  article & {
    border-top: none;
  }

  svg {
    margin: rem(15px);
    @include size(35, 35);
  }

  a {
    text-decoration: none;
    border: none;
  }

  .icon {
    transition: all 0.3s;

    &:hover {
      fill: $vokeTheme;
  }
  }
  .icon-x {
    fill: #1da1f3;
  }
  .icon-facebook {
    fill: #0866FF;
  }
  .icon-whatsapp {
    fill: #25D366;
  }
}
